*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container{
    width: 70%;
    margin: 0 auto;
}

header{
    margin: 2em 0 ;  
}

.logo{
    width: 150px;
}

nav{
    margin-bottom: 2rem ;
}
.menu{
    list-style: none;
}

li{
    display: inline-block;   
    padding-right: 1em;
}

a{
    display: inline-block;
    text-decoration: none;
    color: rgb(145, 145, 145);
}

a:hover{
    color: darkslategrey;
}

.banner{
    background-image: url(../img/banner.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    border-radius: 1rem;
}

.banner-text{
    color: white;
    position: absolute;
    bottom: 5rem; left: 3rem;
    width: 50%;
}

.banner-title{
    font-size: 2rem;
}

.content{
    margin: 2rem 0;
}

footer{
    margin-bottom: 2em;
}

.section-main{
    margin-bottom: 1.5em;
}

.section{
    float: left;
}

.center{
    width: 60%;
    margin: 0 1em;
}

.side{
    width: calc(20% - 1em );
}